* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

@import "menu";
@import "cover";
@import "team";
@import "work";
@import "price";
@import "contact";
@import "location";
@import "footer";
